<!DOCTYPE html>
<html>

<head></head>

<body>
    <h1>Products</h1>
    <%products.map((product)=>{ %>
        <h4>
           <a href="/products/<%=product.id%>"><%=product.producttitle %></a>
                

        </h4>
        <p>
            <%=product.productde%>
            ราคา : <%=product.productprice%>
        </p>
        <% })%>
</body>

</html>